<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span (click)="changeCurrencyList()" id="title" *ngIf="!exchangeRateEmpty">{{ searchCurrency(baseCurrency).name }} - {{ searchCurrency(baseCurrency).description }}</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span *ngIf="!exchangeRateEmpty" id="subtitle">{{ searchCurrency(baseCurrency).name }}</span>
    <span class="spacer"></span>
    <mat-form-field>
      <input matInput [(ngModel)]='amount' id="amount">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container pt-3">
  <div class="row">
    <div class="col-md-6 col-lg-4 pb-3" *ngFor="let currency of currencyList; index as i">
      <app-currencies [currency]="currency" [amount]="amount" (remove)="removeCurrency($event)"></app-currencies>
    </div>
    <div class="col-12">
      <app-currency-input [selectedCurrency]="selectedCurrency" [isInput]="isInput" [dropdownList]="dropdownList" (showDropdown)="showDropdown()" (addCurrency)="addCurrency($event)"></app-currency-input>
    </div>
  </div>
</div>